defaults:
  - scheduler: multistep_lr
  - data: default
  - model: PathModel
  - loss: entire_loss
  - _self_

training:
  num_epochs: 100
  validate: True
  val_interval: 10
  learning_rate: 0.001
  decisive_metric: "reg_loss_val"
  save_best_only: True
  save_full_state: True
  log: True
