defaults:
  - scheduler: multistep_lr
  - data: default
  - model: mixer_model
  - loss: entire_loss
  - _self_

training:
  num_epochs: 100
  validate: True
  val_interval: 10
  learning_rate: 0.001
  decisive_metric: "reg_loss_val"
  save_best_only: True
  save_full_state: True
  log: True
  Phases: [Denoise]
  Denoise:
    name: "Denoise"
    denoise_weight: 1 
    decisive_metric: "denoise_error_val"
    epochs: 100
  Fixation:
    name: "Fixation"
    denoise_weight: 0
    decisive_metric: ${training.decisive_metric}
    epochs: 50
  Combined:
    name: "Combined"
    denoise_weight: 0.3
    decisive_metric: ${training.decisive_metric}
    epochs: 50
loss:
  complex_type: "combined"
  denoise_loss_type: "l1"
  fixation_loss_type: "entire_reg"
