data:
  sample_size:  13
  train_per:  0.3
  val_per:  0.1
  start_index:  2
  log:  False
training:
  batch_size: 128
  num_epochs: 10
  validate: True
  val_interval: 2
  cls_weight: 0.5
  learning_rate: 0.001
  decisive_metric: "reg_loss_val"
  save_best_only: True
  save_full_state: True
  log: True
model:
  input_dim: 3
  output_dim: 3
  n_encoder: 2
  n_decoder: 2
  model_dim: 256
  total_dim: 256
  n_heads: 4
  ff_dim: 512
  max_pos_enc: 15
  max_pos_dec: 26
  norm_first: True
  dropout_p: 0
  compilate: False
  activation:  "gelu"
  device: "cuda"