defaults:
  - scheduler: multistep_lr
  - data: default
  - model: mixer_model
  - loss: entire_loss
  - _self_

training:
  num_epochs: 100
  validate: True
  val_interval: 10
  learning_rate: 0.001
  decisive_metric: "reg_loss_val"
  save_best_only: True
  save_full_state: True
  log: True
  Phases: [Denoise]
  Denoise:
    name: "Denoise"
    epochs: 100
  Fixation:
    name: "Fixation"
    epochs: 50
  Combined:
    name: "Combined"
    fixation_weight: 0.7
    epochs: 50
